{% load staticfiles %}
<!DOCTYPE html> 
<html>

<head>
    <title>Diaries Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Create a diary</h1>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Input title">
        <br>
        <textarea name="detail" id="detail" cols="30" rows="10" placeholder="Input detail"></textarea>
        <br>
        <input type="date" name="created" placeholder="Date">
        <br>
        <select name="user_id" id="user_id">
            {% for user in users %}
                <option value="{{user.id}}">{{ user.name }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Create">
    </form>
    <a href="{% url 'index' %}">Go to list of diaries</a>
</body>

</html>
