{% load staticfiles %}
<!DOCTYPE html> 
<html>

<head>
    <title>Diaries Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Diary's detail</h1>
    <p>{{ diary.title }}</p>
    <p>{{ diary.detail }}</p>
    <p>{{ diary.created }}</p>
    <p>{{ diary.user }}</p>
    <a href="{% url 'update' diary.id %}">Update</a>
    <br>
    <a href="{% url 'index' %}">Go to list of diaries</a>
</body>

</html>
