{% load staticfiles %}
<!DOCTYPE html> 
<html>

<head>
    <title>Diaries Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>List of diaries</h1>
    <br />
    <table>
        {% for diary in diaries %}
        <tr>
            <td><a class="show" href="{% url 'detail' diary.id %}">{{ diary.title }}</a></td>
            <td><a class="edit" href="{% url 'update' diary.id %}">Update</a></td>
            <td><a class="delete" href="#">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
