{% load staticfiles %}
<!DOCTYPE html> 
<html>

<head>
    <title>Diaries Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Update a diary</h1>
    <form action="{% url 'update' diary.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" id="title" placeholder="Input title" value="{{diary.title}}">
        <br>
        <textarea name="detail" id="detail" cols="30" rows="10" placeholder="Input detail">
            {{ diary.detail }}
        </textarea>
        <br>
        <input type="date" name="created" id="created" placeholder="Date" value="{{diary.created | date:'Y-m-d'}}">
        <br>
        <select name="user_id" id="user_id">
            {% for user in users %}
                {% if user.id == diary.user_id %}
                    <option value="{{user.id}}" selected>{{ user.name }}</option>
                {% else %}
                    <option value="{{user.id}}">{{ user.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <button type="submit">
            Update
        </button>
    </form>
    <a href="{% url 'index' %}">Go to list of diaries</a>
</body>

</html>
