h1 {
    text-align: center;
}

table {
    margin: 0 auto;
}

tr {
    display: block;
    border-bottom: 1px solid black;
}

.show, .edit, .delete {
    text-decoration: underline;
}

.show {
    color: black;    
    padding-right: 80px;
}

.edit {
    color: blue;
}

.delete {
    color: red;
}
